.idea
logs/error.log
logs/nginx.pid
logs/2016*
logs/2017*
error.txt
objs
nginx
adservice.dist
adservice.tool
adservice.test
adservice.tgz
.user
src/adservice/build-adservice-Desktop-Default
build-adservice-*
*.user
